<div class="form-group row">
  <div class="col-md-12">
    <input class="form-control" type="text" [(ngModel)]="search" placeholder="Search products..">
  </div>
</div>
<ul class="list-group">

  <li class="list-group-item" *ngFor="let item of (prodArray | searchFilter:search)">
    <label class="col-sm-6">{{item.name}}</label>
    <!-- <button class="btn btn-danger" (click)="deleteItem(item)"><i class="fas fa-trash-alt"></i></button> -->
    <i class="fas fa-trash-alt" style="color:crimson; cursor: pointer; font-size: 20px;" (click)="deleteItem(item)"></i>
  </li>

</ul>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
